div {background-color: black;}

body {background-color: black;}


h1 {
  font-size: 40px;
  color: white;
}

.container {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
  color: white;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}


.login {
  position: absolute;
  top: 30px;
  right: 30px;
}
